body{
	font-family: 'Roboto', sans-serif;
}
.home-container{
	background: url('../images/bg2.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-left{
	background-color: #e8e8e8;
}
.home-left > div{
	margin-top: 10rem;
}

label > span{
	color: red;
}

.reg-form-container{
	background-color: #dbdbdb;
}
.section-image{
	margin-top: 15rem;
	margin-bottom: 5rem!important;
}

.section-image > img{
	max-width: 100%;
	margin-bottom: 1rem;
}
.course-text{
	margin-top: 6rem;
	background-color: white;
	font-size: 1.1rem;
	line-height: 2.5rem;
}

.course-item > .heading{
	font-size: 2rem;
	border-bottom: solid 2px #ccc;
	padding-bottom: 1.2rem;
	font-family: 'Lato', sans-serif;
}
.course-text > .heading{
	font-size: 2rem;
	border-bottom: solid 2px #ccc;
	padding-bottom: 1.2rem;
	font-family: 'Lato', sans-serif;
}
.stage-indicator{
	font-weight: bold;
}
.question-option ul{
	list-style: none ;
}
.question-option input{
	margin-right: 10px;
}
.question{
	padding-right: 2rem;
	margin-top: 3rem;
}
.browser-height{
	height: 100vh;
}
.login-form{
	width: 30%;
	background-color: white;
	padding: 1.5rem;
}
.login-form input{
	height: 50px;
}
.login-container{
	padding-top: 8rem;
	margin: 0;
	border-radius: 6px;
}
.login-icon > img{
	width: 5rem;
	/*max-width: 100%;*/
}
.greeting{
	margin-right: 15px;
}
.logout{
	margin-left: 15px;
}
.underline{
	padding-bottom: 5px;
	border-bottom: solid thin #ccc;
	margin-bottom: 1rem;
}
.course-item{
	display: none;
}
.course-item.active{
	display: block!important;
}
.question-body{
	font-weight: bolder;
	margin-bottom: 1rem;
}